Thomas Brown - 12/01/2020

# Technical Assessment for Data Analyst Position

# Importing Libraries:

In [1]:
import pandas as pd
import sqlite3

# Importing Data:

In [2]:
df = pd.read_csv('issues.csv') # Importing the data
pd.to_datetime(df.created_at) # Changing the created_at column to a date format
display(df.head()) # and checking out the first few rows
display(df.info()) # No null values - likely clean data
display(df.shape) # 6,907 rows and 17 columns

,created_at,number,state,label_bug,label_more_info_needed,label_feature_request,label_help_wanted,num_comments,num_commenters,reaction_eyes,reaction_rocket,reaction_thinking_face,reaction_thumbs_up,reaction_heart,reaction_tada,reaction_thumbs_down,reaction_smile
0,2016-05-12,1,closed,False,False,False,False,0,0,0,0,0,0,0,0,0,0
1,2016-05-12,2,closed,False,False,False,False,1,1,0,0,0,0,0,0,0,0
2,2016-05-12,3,closed,False,False,False,False,1,1,0,0,0,0,0,0,0,0
3,2016-05-12,4,closed,False,False,False,False,2,2,0,0,0,0,0,0,0,0
4,2016-05-12,5,closed,False,False,False,False,1,1,0,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6907 entries, 0 to 6906
Data columns (total 17 columns):
created_at                6907 non-null object
number                    6907 non-null int64
state                     6907 non-null object
label_bug                 6907 non-null bool
label_more_info_needed    6907 non-null bool
label_feature_request     6907 non-null bool
label_help_wanted         6907 non-null bool
num_comments              6907 non-null int64
num_commenters            6907 non-null int64
reaction_eyes             6907 non-null int64
reaction_rocket           6907 non-null int64
reaction_thinking_face    6907 non-null int64
reaction_thumbs_up        6907 non-null int64
reaction_heart            6907 non-null int64
reaction_tada             6907 non-null int64
reaction_thumbs_down      6907 non-null int64
reaction_smile            6907 non-null int64
dtypes: bool(4), int64(11), object(2)
memory usage: 728.6+ KB

None

(6907, 17)

## Column Descriptions:

- created_at: the day the issue was created
- number: the issue number
- state: whether the issue is open or closed
- label_bug: true if the "bug" label was applied to the issue
- label_more_info_needed: true if the "more info needed" label was applied to the issue
- label_feature_request: true if the "feature request" label was applied to the issue
- label_help_wanted: true if the "help wanted" label was applied to the issue, indicating the issue is a good one for an outside contributor to work on
- num_comments: the number of comments on the issue
- num_commenters: the number of people commenting on the issue
- reaction_eyes: the number of people who have added the eyes emoji reaction to the issue
- reaction_rocket: the number of people who have added the rocket emoji reaction to the issue
- reaction_thinking_face: the number of people who have added the thinking face emoji reaction to the issue
- reaction_thumbs_up: the number of people who have added the thumbs up emoji reaction to the issue
- reaction_heart: the number of people who have added the heart emoji reaction to the issue
- reaction_tada: the number of people who have added the tada/party emoji reaction to the issue
- reaction_thumbs_down: the number of people who have added the thumbs down emoji reaction to the issue
- reaction_smile: the number of people who have added the smile emoji reaction to the issue

# Initializing SQLite3 DB:

In [3]:
# Using SQLite3 as it's a slightly better tool for this set of problems than Pandas alone
conn = sqlite3.connect("issues_db.sqlite")
c = conn.cursor()
#df.to_sql("issues", conn, index = False)

# Questions:

## How many issues are currently open in the avocado-toast repository?

There are currently 736 open issues in the repository.

In [4]:
c.execute("""SELECT COUNT (state) as open_issues
             FROM issues
             WHERE state = 'open';""")
df1 = pd.DataFrame(c.fetchall())
df1.columns = [i[0] for i in c.description]
df1.head()

   open_issues
0          736

## Which month had the most issues created in the avocado-toast repo?

May 2017 had the most issues with September 2017 and June 2017 in second and third place respectively.

In [46]:
c.execute("""SELECT strftime('%m', created_at) AS month,
             strftime('%Y', created_at) AS year,
             COUNT (number) AS num_issues
             FROM issues
             GROUP BY month, year
             ORDER BY num_issues DESC;""")
df2 = pd.DataFrame(c.fetchall())
df2.columns = [i[0] for i in c.description]
df2.head()

  month  year  num_issues
0    05  2017         344
1    09  2017         238
2    06  2017         218
3    04  2020         186
4    05  2018         181

## Which month had the most bugs filed?

May 2017 had the most bugs filed with September 2017 and June 2017 in second and third place respectively. This makes sense as these are the same months with the most issues.

In [6]:
c.execute("""SELECT strftime('%m', created_at) AS month,
             strftime('%Y', created_at) AS year,
             SUM (label_bug) AS bugs_filed
             FROM issues
             GROUP BY month, year
             ORDER BY bugs_filed DESC
             LIMIT 3;""")
df3 = pd.DataFrame(c.fetchall())
df3.columns = [i[0] for i in c.description]
df3.head()

  month  year  bugs_filed
0    05  2017          90
1    09  2017          62
2    06  2017          51

In [45]:
c.execute("""SELECT strftime('%m', created_at) AS month,
             strftime('%Y', created_at) AS year,
             SUM (label_bug) AS bugs_filed
             FROM issues
             GROUP BY month, year
             ORDER BY year, month;""")
df3 = pd.DataFrame(c.fetchall())
df3.columns = [i[0] for i in c.description]
df3.head(10)

  month  year  bugs_filed
0    05  2016           0
1    06  2016           0
2    07  2016           1
3    08  2016           3
4    09  2016           2
5    10  2016           1
6    11  2016           6
7    12  2016           2
8    01  2017           3
9    02  2017           9

## What is the most used emoji reaction in the avocado-toast repo?

Thumbs up is the most used reaction by far with 7,899 occurrences. Heart and Tada are second and third place.

In [7]:
c.execute("""SELECT
             SUM(reaction_eyes ) AS eyes,
             SUM(reaction_rocket) AS rocket,
             SUM(reaction_thinking_face) AS thinking_face,
             SUM(reaction_thumbs_up) AS thumbs_up,
             SUM(reaction_heart) AS heart,
             SUM(reaction_tada) AS tada,
             SUM(reaction_thumbs_down) AS thumbs_down,
             SUM(reaction_smile) AS smile
             FROM issues;""")
df4 = pd.DataFrame(c.fetchall())
df4.columns = [i[0] for i in c.description]
df4 = df4.T.rename_axis('reaction', axis=1)
df4.rename(columns={ df4.columns[0]: "num_occurrence" }, inplace = True)
df4.sort_values(by = ['num_occurrence'], ascending = False, inplace = True)
df4.head(10)

reaction       num_occurrence
thumbs_up                7899
heart                    1136
tada                      425
smile                     356
thinking_face             176
rocket                    126
eyes                      122
thumbs_down                65

## How many issues with more than 5 comments had each commenter leave exactly one comment?

There 26 instances of this occurring. The criteria I used were num_comments greater than 5 and num_comments = num_commenters.

In [8]:
c.execute("""SELECT COUNT(number) as num_issues
             FROM issues
             WHERE num_comments > 5 
             AND num_commenters = num_comments;""")
df5 = pd.DataFrame(c.fetchall())
df5.columns = [i[0] for i in c.description]
df5.head()

   num_issues
0          26

In [41]:
c.execute("""SELECT number, num_comments, num_commenters
             FROM issues
             WHERE num_comments > 5 
             AND num_commenters = num_comments;""")
df5 = pd.DataFrame(c.fetchall())
df5.columns = [i[0] for i in c.description]
df5.head()

   number  num_comments  num_commenters
0     493             8               8
1     625             6               6
2     660             6               6
3     668             6               6
4     684            10              10

## Which issue is the most popular in the avocado-toast repo?

Issue #643 is the most popular with the greatest number of positive emoji (thumbs up, tada, heart, and smile) where thumbs down emoji do not outnumber thumbs up. Issues #2858 and #2117 are a distant second and third. Issue #643 also has the most commenters.

In [9]:
c.execute("""SELECT number,
             reaction_thumbs_up AS thumbs_up,
             reaction_tada AS tada,
             reaction_heart AS heart,
             reaction_smile AS smile,
             (reaction_thumbs_up +  reaction_tada + reaction_heart + reaction_smile) AS positive_emoji,
             num_commenters
             FROM issues
             WHERE reaction_thumbs_down < thumbs_up
             ORDER BY positive_emoji DESC
             LIMIT 3;""")
df6 = pd.DataFrame(c.fetchall())
df6.columns = [i[0] for i in c.description]
df6.head()

   number  thumbs_up  tada  heart  smile  positive_emoji  num_commenters
0     643       2723   332    595    291            3941              93
1    2858        209     4     43      2             258              23
2    2117        178     0     56      0             234              63

## Which issue is the least popular in the avocado-toast repo?

Issue #3863 is the least popular with an overwhelming majority of thumbs down to positive emoji. Second place goes to issue #4437 with 3 thumbs down, but 0 positive emoji, and 7 commenters. 

Technically, the ratio of thumbs down to positive emoji is higher on issue #4437, but 22 thumbs down is a vastly higher number than 3 thumbs down, so I chose to measure by absolute number of thumbs down as long as the number of thumbs down were greater than the number of thumbs up.

In [37]:
c.execute("""SELECT created_at, number, reaction_thumbs_down AS thumbs_down,
             (reaction_thumbs_up +  reaction_tada + reaction_heart + reaction_smile) AS positive_emoji,
             num_commenters
             FROM issues
             WHERE thumbs_down > positive_emoji
             ORDER BY reaction_thumbs_down DESC, num_commenters ASC;""")
df7 = pd.DataFrame(c.fetchall())
df7.columns = [i[0] for i in c.description]
df7.head()

   created_at  number  thumbs_down  positive_emoji  num_commenters
0  2018-12-21    3863           22              12               6
1  2019-04-24    4437            3               0               7
2  2018-03-19    2508            3               0               8
3  2020-04-12    5866            2               0               0
4  2017-07-01    1107            2               0               1

## Which issue is the most controversial in the avocado-toast repo?

Given the low number of issues with any thumbs down emoji, I chose to use a threshold of only looking at issues with more than 1 thumbs down and 1 thumbs up. If thumbs down were much more common, I may have chosen a threshold closer to 10.

Next, I created a sentiment score measuring which ratio of thumbs down to positive emoji is closest to 1. After that, I sorted these values to see which sentiment score had the lowest value (indicating the ratio was closest to 1), and determined that issue #3863 is the most controversial issue as it has both thumbs down and positive emoji > 1 each, and of the issues that fit that criteria, issue #3863 had the closest number of thumbs down to positive emoji when considering scale.

A lower sentiment_score means the ratio of positive emoji to thumbs down is closer to 1 than an issue with a higher sentiment score. A high sentiment score means that the issue is either overwhelmingly positive or negative, and thus non-controversial.

In [25]:
c.execute("""SELECT number, 
             (reaction_thumbs_up +  reaction_tada + reaction_heart + reaction_smile) AS positive_emoji,
             reaction_thumbs_down AS thumbs_down,
             ABS(1 - (reaction_thumbs_up + reaction_tada + reaction_heart + reaction_smile) / 
             CAST(reaction_thumbs_down AS FLOAT)) AS sentiment_score,
             num_comments,
             num_commenters
             FROM issues
             WHERE thumbs_down > 1
             AND (reaction_thumbs_up +  reaction_heart + reaction_tada + reaction_smile) > 0
             ORDER BY sentiment_score ASC;""")
df8 = pd.DataFrame(c.fetchall())
df8.columns = [i[0] for i in c.description]
df8.head(20)

,number,positive_emoji,thumbs_down,sentiment_score,num_comments,num_commenters
0,3863,12,22,0.454545,14,6
1,2938,5,3,0.666667,17,6
2,3334,4,2,1.000000,7,4
3,643,3941,3,1312.666667,204,93

In [36]:
c.execute("""SELECT number, 
             (reaction_thumbs_up +  reaction_tada + reaction_heart + reaction_smile) AS positive_emoji,
             reaction_thumbs_down AS thumbs_down,
             ABS(1 - (reaction_thumbs_up + reaction_tada + reaction_heart + reaction_smile) / 
             CAST(reaction_thumbs_down AS FLOAT)) AS sentiment_score,
             num_comments,
             num_commenters,
             
             MIN((reaction_thumbs_up +  reaction_tada + reaction_heart + reaction_smile), CAST(reaction_thumbs_down AS FLOAT))/
             MAX((reaction_thumbs_up +  reaction_tada + reaction_heart + reaction_smile), CAST(reaction_thumbs_down AS FLOAT)) 
             AS sentiment_score_ii
             
             FROM issues
             WHERE thumbs_down > 1
             AND (reaction_thumbs_up +  reaction_heart + reaction_tada + reaction_smile) > 0
             ORDER BY sentiment_score_ii DESC;""")
df8 = pd.DataFrame(c.fetchall())
df8.columns = [i[0] for i in c.description]
df8.head(20)

,number,positive_emoji,thumbs_down,sentiment_score,num_comments,num_commenters,sentiment_score_ii
0,2938,5,3,0.666667,17,6,0.600000
1,3863,12,22,0.454545,14,6,0.545455
2,3334,4,2,1.000000,7,4,0.500000
3,643,3941,3,1312.666667,204,93,0.000761

## If an AvocadoCorp employee working on avocado-toast asked you which issue they should work on next, what would you recommend, and why?

I would recommend they work on the oldest unresolved issue where there has been help requested and fewer than 10 people are working on it (don't want to throw too many people at a given problem!). The issue matching this criteria is issue #948.

In [21]:
c.execute("""SELECT created_at, number, state, label_help_wanted, num_commenters
             FROM issues
             WHERE state = 'open'
             AND label_help_wanted = 1
             AND num_commenters < 10
             ORDER BY created_at ASC;""")
df9 = pd.DataFrame(c.fetchall())
df9.columns = [i[0] for i in c.description]
df9.head()

   created_at  number state  label_help_wanted  num_commenters
0  2017-06-08     948  open                  1               9
1  2017-06-21    1049  open                  1               3
2  2017-06-23    1064  open                  1               5
3  2017-08-17    1312  open                  1               9
4  2017-09-26    1591  open                  1               1